@model OnPOS.Models.dbCategory
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<h3>Category Entry</h3>
<hr />

<form asp-action="Create" id="formcreate">
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>

           
        </div>
    </div>
    <div class="form-group">
        <input type="button" value="Save" onclick="alertfirst()" class="btn btn-red" />

    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-dark">Kembali ke List</a>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function allowOnlyNumber(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
        function alertfirst() {
            if (confirm("Are you sure saving data?")) {
                $('#formcreate').submit();
            } else {
                return false;
            }
        }
    </script>
}
