@model BataAppHR.Models.dbProgram

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div>
    <h4>Tab Info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Program ID: </label> @Html.DisplayFor(model => model.ProgramId)
        </dt>
        <dt>
            <label>Program Name: </label>@Html.DisplayFor(model => model.ProgramName)
        </dt>
      
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProgramId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Back to list</a>
    </form>
</div>