@model IEnumerable<BataAppHR.Models.dbProgram>
@{
    ViewData["Title"] = "System Tab List";
}

<style>
    #myPopup {
        display: none;
        position: absolute;
        top: 50px;
        right: 50%;
        background-color: blue;
        height: 100px;
        width: 100px;
    }

    #myExit {
        position: absolute;
        right: 0px;
        text-align: right;
        color: white;
        background-color: red;
    }

    .btn-primary2 {
        color: #ffffff;
        background-color: #000000;
        border-color: #000000 !important
    }

        .btn-primary2:hover {
            color: #fff;
            background-color: #be0000;
            border-color: #be0000 !important
        }
</style>
<p>
</p>
<div class="container" id="bootstrap-overrides">
    <div class="row">
        <div class="col-sm align-self-end">
            <a asp-action="Create" class="btn btn-dark">Input Data Baru</a>
        </div>

    </div>
</div>
<br />
<table class="table table-striped" id="IndexTbl">
    <thead>
        <tr>
            <th>Num.</th>
            <th>
                Program ID
            </th>
            <th>
                Program Name
            </th>
            <th>
                <label>Actions</label>
            </th>
        </tr>
    </thead>
    <tbody id="tbodyid">
        @{
            var i = 1;
        }
        @foreach (var dt in Model)
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.ProgramId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.ProgramName)
                </td>
                <td>
                    <div>
                        <a asp-action="Edit" asp-route-id="@dt.ProgramId" class="btn btn-sm btn-dark">Edit</a>
                        &nbsp;
                        <a asp-action="Delete" asp-route-id="@dt.ProgramId" class="btn btn-sm btn-dark">Delete</a>
                    </div>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
    $(document).ready(function () {
        $('#IndexTbl').DataTable({
            "sPaginationType": "full_numbers",
            "bJQueryUI": true,
            "bProcessing": true,
            "aLengthMenu": [[10, 50, 100, 200, -1], ["10", "50", "100", "200", "All"]],
            "stateSave": true,
            "oSelectorOpts": { filter: 'applied' },
            dom: "<'row'<'col-sm-12'B>>" +
                "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            buttons: [
                {
                    extend: 'excel',
                    text: 'Export to Excel',
                    title: 'ProgramMasterList',
                    exportOptions: {
                        columns: ':visible'
                        //,modifier: {
                        //    page: 'current'
                        //}
                    }
                }
            ],
            "columnDefs": [{
                "className": "dt-center",
                "targets": [0, 1]
            }]
        });
    });
    </script>
}
