*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode/

# Rider
.idea/

# Visual Studio
.vs/

# Fleet
.fleet/

# Code Rush
.cr/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
/BataAppHR/Properties/PublishProfiles
/BataAppHR/wwwroot
/CallApi/Properties/PublishProfiles/FolderProfile.pubxml
/BataAppHR/bin/Debug/netcoreapp3.1/appsettings.Development.json
/BataAppHR/bin/Debug/netcoreapp3.1/appsettings.json
/BataAppHR/bin/Debug/netcoreapp3.1/BataAppHR.deps.json
/BataAppHR/bin/Debug/netcoreapp3.1/BataAppHR.dll
/BataAppHR/bin/Debug/netcoreapp3.1/BataAppHR.exe
/BataAppHR/bin/Debug/netcoreapp3.1/BataAppHR.pdb
/BataAppHR/bin/Debug/netcoreapp3.1/BataAppHR.Views.dll
/BataAppHR/bin/Debug/netcoreapp3.1/BataAppHR.Views.pdb
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/ChangePassword.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/SetPassword.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/_ViewImports.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/ResetPassword.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/_ViewImports.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/_ValidationScriptsPartial.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/_ViewImports.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/_ViewStart.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/CreateRole/Create.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/CreateRole/Index.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/FormVaksin/Create.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/FormVaksin/Delete.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/FormVaksin/Edit.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/FormVaksin/Index.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_LoginPartial.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/UploadUser/Index.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/UploadVaksin/Index.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/XstoreEdit/Edit.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/XstoreEdit/Index.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
/BataAppHR/obj/project.nuget.cache
/BataAppHR/obj/Debug/netcoreapp3.1/apphost.exe
/BataAppHR/obj/Debug/netcoreapp3.1/BataAppHR.assets.cache
/BataAppHR/obj/Debug/netcoreapp3.1/BataAppHR.csproj.AssemblyReference.cache
/BataAppHR/obj/BataAppHR.csproj.nuget.dgspec.json
/BataAppHR/obj/BataAppHR.csproj.nuget.g.props
/BataAppHR/obj/BataAppHR.csproj.nuget.g.targets
/BataAppHR/obj/project.assets.json
/BataAppHR/obj/Debug/netcoreapp3.1/BataAppHR.assets.cache
/BataAppHR/obj/Debug/netcoreapp3.1/BataAppHR.csproj.AssemblyReference.cache
/BataAppHR/obj/Debug/netcoreapp3.1/BataAppHR.assets.cache
/BataAppHR/obj/Debug/netcoreapp3.1/BataAppHR.csproj.AssemblyReference.cache
/BataAppHR/bin/Debug/netcoreapp3.1/BataAppHR.Views.pdb
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/CreateRole/Create.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/CreateRole/Index.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/UploadUser/Index.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/UploadVaksin/Index.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/XstoreEdit/Edit.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/XstoreEdit/Index.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
/BataAppHR/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/ChangePassword.cshtml.g.cs
/BataAppHR/bin/Debug/netcoreapp3.1/appsettings.Development.json

*/wwwroot
*/Properties/PublishProfiles
/.vs/BataAppHR/FileContentIndex/9528988f-3409-4224-98f5-7084ba65cb99.vsidx
/.vs/BataAppHR/v17/.wsuo
/BataAppHR/obj/Debug/netcoreapp3.1/BataAppHR.assets.cache
/BataAppHR/obj/Debug/netcoreapp3.1/BataAppHR.csproj.AssemblyReference.cache
/.vs/BataAppHR/DesignTimeBuild/.dtbcache.v2
/BataAppHR/obj/BataAppHR.csproj.nuget.dgspec.json
/BataAppHR/obj/BataAppHR.csproj.nuget.g.props
/BataAppHR/obj/BataAppHR.csproj.nuget.g.targets
/BataAppHR/obj/project.assets.json
/BataAppHR/obj/project.nuget.cache
/BataAppHR/obj/Release/netcoreapp3.1/Razor/Views/CreateRole/Create.cshtml.g.cs
/BataAppHR/obj/Release/netcoreapp3.1/Razor/Views/CreateRole/Index.cshtml.g.cs
/BataAppHR/obj/Release/netcoreapp3.1/Razor/Views/FormVaksin/Create.cshtml.g.cs
/BataAppHR/obj/Release/netcoreapp3.1/Razor/Views/FormVaksin/Delete.cshtml.g.cs
/BataAppHR/obj/Release/netcoreapp3.1/Razor/Views/FormVaksin/Edit.cshtml.g.cs
/BataAppHR/obj/Release/netcoreapp3.1/Razor/Views/FormVaksin/Index.cshtml.g.cs
/BataAppHR/obj/Release/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
/BataAppHR/obj/Release/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
/BataAppHR/obj/Release/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
/BataAppHR/obj/Release/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
/BataAppHR/obj/Release/netcoreapp3.1/Razor/Views/Shared/_LoginPartial.cshtml.g.cs
/BataAppHR/obj/Release/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
/BataAppHR/obj/Release/netcoreapp3.1/Razor/Views/UploadUser/Index.cshtml.g.cs
/BataAppHR/obj/Release/netcoreapp3.1/Razor/Views/UploadVaksin/Index.cshtml.g.cs
/BataAppHR/obj/Release/netcoreapp3.1/Razor/Views/XstoreEdit/Edit.cshtml.g.cs
/BataAppHR/obj/Release/netcoreapp3.1/Razor/Views/XstoreEdit/Index.cshtml.g.cs
/BataAppHR/obj/Release/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
/BataAppHR/obj/Release/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
/BataAppHR/obj/Release/netcoreapp3.1/PubTmp/Out/runtimes/win/lib/netcoreapp2.0/System.Text.Encoding.CodePages.dll
/.vs/BataAppHR/config/applicationhost.config
/BataAppHR/bin/Debug/netcoreapp3.1/appsettings.json