@model BataAppHR.Models.dbSalesOrder
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
@*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />

    <script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />*@
<div class="container">
    <div class="row">
        <div class="col-sm">
            @Html.DropDownListFor(m => m.article, new SelectList(Model.articleList, "articlecode", "articlename"), new { @class = "form-control" })
        </div>
        <div class="col-sm">
            <input type="button" id="Clear" value="Clear" class="btn btn-red" />
        </div>

    </div>
</div>

<div id="Display">

</div>
<script type="text/javascript">
$(document).ready(function () {
    $("#article").select2({
        placeholder: "Select article",
        initSelection: function (element, callback) {
        },
        dropdownAutoWidth: true,
        width: 'element'
    });
    $("#article").val(null);
    $("#article").trigger('change');
  $.get('@Url.Action("CatalogView", "Catalog")?Category=1&Brand=2&isfirstopen=1', {}, function (response) {
       $("#Display").html(response);
  });
    $('#article').on('change', function () {
        var value = $("#article").val();
        $("#Display").empty();
        $.get('@Url.Action("CatalogView", "Catalog")?Category=1&Brand=2&isfirstopen=0&article=' + value, {}, function (response) {
            $("#Display").html(response);
        });
    });
    $("#Clear").click(function () {
        $("#article").val(null);
        $("#article").trigger('change');
         $("#Display").empty();
        $.get('@Url.Action("CatalogView", "Catalog")?Category=1&isfirstopen=0&Brand=2', {}, function (response) {
            $("#Display").html(response);
        });
    });
   
});
    

</script>