@model BataAppHR.Models.dbSalesOrderTemp
@using Microsoft.AspNetCore.Http;
@using System.Text.Json;
@{
    ViewData["Title"] = "View Items";

    var custdisc = Model.custdisc;
    var itemCount = ViewBag.countItem;
    var ishavecredit = Model.isHaveCredit;
    //var program = Model.Program;
    //var participantListData = JsonSerializer.Serialize(participantDt);
    //var trainerdt = Model.TrainerList;
    //var TrainerListData = JsonSerializer.Serialize(trainerdt);

    //var noparticipant = Model.NoParticipant;
    //var trainer = Model.idTrainer;

}
<style>
    .label {
        float: left;
    }

    .disabled-select {
        background-color: #d5d5d5;
        opacity: 0.5;
        border-radius: 3px;
        cursor: not-allowed;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    select[readonly].select2-hidden-accessible + .select2-container {
        pointer-events: none;
        touch-action: none;
    }

        select[readonly].select2-hidden-accessible + .select2-container .select2-selection {
            background: #eee;
            box-shadow: none;
        }

        select[readonly].select2-hidden-accessible + .select2-container .select2-selection__arrow,
        select[readonly].select2-hidden-accessible + .select2-container .select2-selection__clear {
            display: none;
        }

    input.largerCheckbox {
        width: 20px;
        height: 20px;
    }

    .table-borderless > tbody > tr > td {
        border: 0;
    }

    .col-sm-pad {
        padding-left: 8px;
        padding-right: 8px;
    }
</style>
<h1>View Items</h1>
<h3>Cart Items</h3>
<hr />
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="col-sm">
                <div class="form-group">
                    <label class="control-label">Total Final</label>
                    <input id="FinalVal" class="form-control" readonly="readonly" />
                </div>
            </div>


            <div class="col-sm">
                <div class="form-group">
                    <label class="control-label">Total Qty</label>
                    <input asp-for="TOTAL_QTY" class="form-control" readonly="readonly" />
                    <span asp-validation-for="TOTAL_QTY" class="text-danger"></span>
                    <input asp-for="custdisc" type="hidden" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label class="control-label">Total Order</label>
                        <input asp-for="TOTAL_ORDER" class="form-control" readonly="readonly" />
                        <span asp-validation-for="TOTAL_ORDER" class="text-danger"></span>
                    </div>
                </div>
                @if (ishavecredit)
                {
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="control-label">Credit Note: </label>
                            <input asp-for="creditnoteval" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                }

            </div>
            
        </div>
        <div class="col-sm">
            <div class="form-group">
                <table class="table table-striped" id="DtlTbl">
                    <thead>
                        <tr>
                            <th>Num.</th>
                            <th>
                                Article
                            </th>
                            <th>
                                Qty
                            </th>

                            <th>
                                Total purchase
                            </th>

                            <th>
                                <label>Actions</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tbodyiddtl">
                    </tbody>
                </table>
            </div>
            <div class="form-group">

                <table>
                    <tr>
                        <td>
                            @if (itemCount > 0)
                            {
                                <input type="button" value="Checkout" onclick="openchk()" class="btn btn-red" />
                            }
                        </td>
                        <td>
                            <a asp-action="Index" class="btn btn-dark">Kembali ke Catalog</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>

<div id="dialogEdit" title="Update Detail">
    <form asp-action="EditCart" id="formdtlEdit" enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="row">
                        <div class="col">
                            <label class="control-label label">Article: </label>
                        </div>
                        <div class="col">
                            <input asp-for="articleEdit" class="form-control" readonly />
                            <input asp-for="TOTAL_ORDERTempEdit" type="hidden" class="form-control" />
                            <input asp-for="TOTAL_QTYTempEdit" type="hidden" class="form-control" />
                            <input asp-for="datamode" type="hidden" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="control-label label">qty: </label>

                        </div>
                        <div class="col">
                            <input asp-for="qtyEdit" class="form-control" onkeypress="return allowOnlyNumber(event);" min="1" readonly />
                            <span asp-validation-for="qtyEdit" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="control-label label">Price: </label>

                        </div>
                        <div class="col">
                            <input asp-for="priceEdit" class="form-control" onkeypress="return allowOnlyNumber(event);" min="1" />
                            <span asp-validation-for="priceEdit" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row" style="display:none;">
                        <div class="col">
                            <label class="control-label label">is Discount Percentage: </label>

                        </div>
                        <div class="col">
                            <input asp-for="is_disc_percBoolEdit" class="largerCheckbox" />
                            <span asp-validation-for="is_disc_percBoolEdit" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row" id="discpercvalEdit" style="display:none;">
                        <div class="col">
                            <label class="control-label label">Disc Percentage: </label>

                        </div>
                        <div class="col">
                            <input asp-for="discEdit" class="form-control" onkeypress="return allowOnlyNumber(event);" min="1" />
                            <span asp-validation-for="discEdit" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row" id="discamtvalEdit" style="display:none;">
                        <div class="col">
                            <label class="control-label label">Disc Amount: </label>

                        </div>
                        <div class="col">
                            <input asp-for="disc_amtEdit" class="form-control" onkeypress="return allowOnlyNumber(event);" />
                            <span asp-validation-for="disc_amtEdit" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="control-label label">Final: </label>

                        </div>
                        <div class="col">
                            <input asp-for="final_priceEdit" class="form-control" onkeypress="return allowOnlyNumber(event);" readonly />
                            <span asp-validation-for="final_priceEdit" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="button" value="" id="btnPopupMod" onclick="alertfirst2(this)" class="btn btn-red" />

                        </div>
                        <div class="col">

                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col">
                            <label class="control-label label">Size Code: </label>

                        </div>
                        <div class="col">
                            <input id="sizeCodeTxtEdit" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="control-label label" id="Size1lblEdit">1</label>

                        </div>
                        <div class="col">
                            <input asp-for="Size_1_Edit" class="form-control" onkeypress="return allowOnlyNumber(event);" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="control-label label" id="Size2lblEdit">2</label>

                        </div>
                        <div class="col">
                            <input asp-for="Size_2_Edit" class="form-control" onkeypress="return allowOnlyNumber(event);" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="control-label label" id="Size3lblEdit">3</label>

                        </div>
                        <div class="col">
                            <input asp-for="Size_3_Edit" class="form-control" onkeypress="return allowOnlyNumber(event);" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="control-label label" id="Size4lblEdit">4</label>

                        </div>
                        <div class="col">
                            <input asp-for="Size_4_Edit" class="form-control" onkeypress="return allowOnlyNumber(event);" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="control-label label" id="Size5lblEdit">5</label>

                        </div>
                        <div class="col">
                            <input asp-for="Size_5_Edit" class="form-control" onkeypress="return allowOnlyNumber(event);" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="control-label label" id="Size6lblEdit">6</label>

                        </div>
                        <div class="col">
                            <input asp-for="Size_6_Edit" class="form-control" onkeypress="return allowOnlyNumber(event);" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="control-label label" id="Size7lblEdit">7</label>

                        </div>
                        <div class="col">
                            <input asp-for="Size_7_Edit" class="form-control" onkeypress="return allowOnlyNumber(event);" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="control-label label" id="Size8lblEdit">8</label>

                        </div>
                        <div class="col">
                            <input asp-for="Size_8_Edit" class="form-control" onkeypress="return allowOnlyNumber(event);" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="control-label label" id="Size9lblEdit">9</label>

                        </div>
                        <div class="col">
                            <input asp-for="Size_9_Edit" class="form-control" onkeypress="return allowOnlyNumber(event);" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="control-label label" id="Size10lblEdit">10</label>

                        </div>
                        <div class="col">
                            <input asp-for="Size_10_Edit" class="form-control" onkeypress="return allowOnlyNumber(event);" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="control-label label" id="Size11lblEdit">11</label>

                        </div>
                        <div class="col">
                            <input asp-for="Size_11_Edit" class="form-control" onkeypress="return allowOnlyNumber(event);" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="control-label label" id="Size12lblEdit">12</label>

                        </div>
                        <div class="col">
                            <input asp-for="Size_12_Edit" class="form-control" onkeypress="return allowOnlyNumber(event);" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="control-label label" id="Size13lblEdit">13</label>

                        </div>
                        <div class="col">
                            <input asp-for="Size_13_Edit" class="form-control" onkeypress="return allowOnlyNumber(event);" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
<div id="dialogCheckout" title="Checkout">
    <center>
        <form asp-action="CheckoutItems" id="formdtlupload" enctype="multipart/form-data">
            <div class="container" style="width:100%;height:100%;">
                <div class="row">
                    <div class="col">
                        <label class="control-label">Address: </label>

                    </div>
                    <div class="col">
                        <textarea asp-for="SHIPPING_ADDRESS" style="width:100%" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col">
                            <input type="button" value="Checkout" onclick="alertfirstchk(this)" class="btn btn-red" />
                        </div>
                        <div class="col">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </center>
</div>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        window.lastclicked = "";
        window.lengthForm = 0;
        var dtltbls;
        var dtltbls2;
        $(document).ready(function () {

            dtltbls = $('#DtlTbl').DataTable({
                "iDisplayLength": 25,
                'columnDefs': [
                    {
                        "targets": 0, // your case first column
                        "className": "text-center",
                    },
                    {
                        "targets": 1,
                        "className": "text-center",
                    },
                    {
                        "targets": 2,
                        "className": "text-center",
                    },
                    {
                        "targets": 3,
                        "className": "text-center",
                    },
                    {
                        "targets": 4,
                        "className": "text-center",
                    }
                ]
            });

            $("#dialogCheckout").dialog({
                width: 500,
                height: 150,
                modal: true,
                resizable: false,
                close: function () {
                    //var audio = $("#player");
                    //audio[0].pause();
                }
            });
            $("#dialogCheckout").dialog("close");

            $("#dialogEdit").dialog({
                width: 800,
                height: 520,
                modal: true,
                resizable: false,
                close: function () {
                    //var audio = $("#player");
                    //audio[0].pause();
                }
            });
            $("#dialogEdit").dialog("close");

            $.ajax({
                url: '@Url.Action("getTblDtlEdit", "Catalog")',
                type: "GET",
                //data: { id: value, sscode: value2 },
                //startDate: mFromDate, endDate: mToDate1
                dataType: 'json',
                success: function (data) {

                    if (data.length != 0) {
                        debugger;
                        //$("#tbodyiddtl").empty();
                        dtltbls.clear();
                        var totalorder = 0;
                        var totalqty = 0;
                        var x = 1;
                        data.forEach(function (item) { //insert rows
                            var btnList = "<a onclick=\"openpopup(this, \'" + item.article + "\', \'" + item.size + "\');\" id='EditArticle" + x + "' class='btn btn-sm btn-dark'>Edit</a>&nbsp;<a onclick=\"openpopup(this, \'" + item.article + "\',  \'" + item.size + "\');\" id='DeleteArticle" + x + "' class='btn btn-sm btn-dark'>Delete</a >";
                            dtltbls.row.add([x, item.article, item.qty, item.final_price, btnList]);
                            totalorder = totalorder + item.final_price;
                            totalqty = totalqty + item.qty;
                            x++
                        })
                        var totalordercalculate = totalorder;
                        if (totalordercalculate != 0) {
                            var creditnote = 0;
                            if ($("#creditnoteval").val() != null && $("#creditnoteval").val() != "") {
                                creditnote = parseFloat($("#creditnoteval").val());
                            }
                           
                            totalordercalculate = totalordercalculate - creditnote;
                        }
                        $("#TOTAL_ORDER").val(totalorder);
                        $("#TOTAL_ORDERTempEdit").val(totalorder);

                        $("#TOTAL_QTY").val(totalqty);
                        $("#TOTAL_QTYTempEdit").val(totalqty);
                        var custdisc = $("#custdisc").val();
                        var custdiscval = (totalordercalculate * custdisc) / 100;
                        totalordercalculate = totalordercalculate - custdiscval;
                        $("#FinalVal").val(totalordercalculate);
                        dtltbls.draw();
                    } else {
                        $("#TOTAL_ORDER").val(0);
                        $("#TOTAL_ORDERTempEdit").val(0);
                        $("#TOTAL_QTY").val(0);
                        $("#TOTAL_QTYTempEdit").val(0);
                        $("#FinalVal").val(0);
                    }

                },
                error: function () {

                }
            });
        });

        $("#Size_1_Edit").change(function () {
            if (!$('#Size_1_Edit').val()) {
                $("#Size_1_Edit").val(0);
            }
            var value1 = parseInt($("#Size_1_Edit").val());
            var value2 = parseInt($("#Size_2_Edit").val());
            var value3 = parseInt($("#Size_3_Edit").val());
            var value4 = parseInt($("#Size_4_Edit").val());
            var value5 = parseInt($("#Size_5_Edit").val());
            var value6 = parseInt($("#Size_6_Edit").val());
            var value7 = parseInt($("#Size_7_Edit").val());
            var value8 = parseInt($("#Size_8_Edit").val());
            var value9 = parseInt($("#Size_9_Edit").val());
            var value10 = parseInt($("#Size_10_Edit").val());
            var value11 = parseInt($("#Size_11_Edit").val());
            var value12 = parseInt($("#Size_12_Edit").val());
            var value13 = parseInt($("#Size_13_Edit").val());

            var totalqty = value1 + value2 + value3 + value4 + value5 + value6 + value7 + value8 + value9 + value10 + value11 + value12 + value13;
            $("#qtyEdit").val(totalqty);

            var price = $("#priceEdit").val();
            var totalprice = totalqty * price;
            var discount = $("#discEdit").val();
            var discamtval = $("#disc_amtEdit").val();
            var disctype = $("#is_disc_percBoolEdit").is(":checked");
            if (disctype == true) {
                var totaldisc = 0;
                if (discount != 0) {
                    totaldisc = (totalprice * discount) / 100;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            } else {
                var totaldisc = 0;
                if (discamtval != 0) {
                    totaldisc = discamtval;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            }

        });
        $("#Size_2_Edit").change(function () {
            if (!$('#Size_2_Edit').val()) {
                $("#Size_2_Edit").val(0);
            }
            var value1 = parseInt($("#Size_1_Edit").val());
            var value2 = parseInt($("#Size_2_Edit").val());
            var value3 = parseInt($("#Size_3_Edit").val());
            var value4 = parseInt($("#Size_4_Edit").val());
            var value5 = parseInt($("#Size_5_Edit").val());
            var value6 = parseInt($("#Size_6_Edit").val());
            var value7 = parseInt($("#Size_7_Edit").val());
            var value8 = parseInt($("#Size_8_Edit").val());
            var value9 = parseInt($("#Size_9_Edit").val());
            var value10 = parseInt($("#Size_10_Edit").val());
            var value11 = parseInt($("#Size_11_Edit").val());
            var value12 = parseInt($("#Size_12_Edit").val());
            var value13 = parseInt($("#Size_13_Edit").val());

            var totalqty = value1 + value2 + value3 + value4 + value5 + value6 + value7 + value8 + value9 + value10 + value11 + value12 + value13;
            $("#qtyEdit").val(totalqty);

            var price = $("#priceEdit").val();
            var totalprice = totalqty * price;
            var discount = $("#discEdit").val();
            var discamtval = $("#disc_amtEdit").val();
            var disctype = $("#is_disc_percBoolEdit").is(":checked");
            if (disctype == true) {
                var totaldisc = 0;
                if (discount != 0) {
                    totaldisc = (totalprice * discount) / 100;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            } else {
                var totaldisc = 0;
                if (discamtval != 0) {
                    totaldisc = discamtval;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            }

        });
        $("#Size_3_Edit").change(function () {
            if (!$('#Size_3_Edit').val()) {
                $("#Size_3_Edit").val(0);
            }
            var value1 = parseInt($("#Size_1_Edit").val());
            var value2 = parseInt($("#Size_2_Edit").val());
            var value3 = parseInt($("#Size_3_Edit").val());
            var value4 = parseInt($("#Size_4_Edit").val());
            var value5 = parseInt($("#Size_5_Edit").val());
            var value6 = parseInt($("#Size_6_Edit").val());
            var value7 = parseInt($("#Size_7_Edit").val());
            var value8 = parseInt($("#Size_8_Edit").val());
            var value9 = parseInt($("#Size_9_Edit").val());
            var value10 = parseInt($("#Size_10_Edit").val());
            var value11 = parseInt($("#Size_11_Edit").val());
            var value12 = parseInt($("#Size_12_Edit").val());
            var value13 = parseInt($("#Size_13_Edit").val());

            var totalqty = value1 + value2 + value3 + value4 + value5 + value6 + value7 + value8 + value9 + value10 + value11 + value12 + value13;
            $("#qtyEdit").val(totalqty);

            var price = $("#priceEdit").val();
            var totalprice = totalqty * price;
            var discount = $("#discEdit").val();
            var discamtval = $("#disc_amtEdit").val();
            var disctype = $("#is_disc_percBoolEdit").is(":checked");
            if (disctype == true) {
                var totaldisc = 0;
                if (discount != 0) {
                    totaldisc = (totalprice * discount) / 100;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            } else {
                var totaldisc = 0;
                if (discamtval != 0) {
                    totaldisc = discamtval;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            }

        });
        $("#Size_4_Edit").change(function () {
            if (!$('#Size_4_Edit').val()) {
                $("#Size_4_Edit").val(0);
            }
            var value1 = parseInt($("#Size_1_Edit").val());
            var value2 = parseInt($("#Size_2_Edit").val());
            var value3 = parseInt($("#Size_3_Edit").val());
            var value4 = parseInt($("#Size_4_Edit").val());
            var value5 = parseInt($("#Size_5_Edit").val());
            var value6 = parseInt($("#Size_6_Edit").val());
            var value7 = parseInt($("#Size_7_Edit").val());
            var value8 = parseInt($("#Size_8_Edit").val());
            var value9 = parseInt($("#Size_9_Edit").val());
            var value10 = parseInt($("#Size_10_Edit").val());
            var value11 = parseInt($("#Size_11_Edit").val());
            var value12 = parseInt($("#Size_12_Edit").val());
            var value13 = parseInt($("#Size_13_Edit").val());

            var totalqty = value1 + value2 + value3 + value4 + value5 + value6 + value7 + value8 + value9 + value10 + value11 + value12 + value13;
            $("#qtyEdit").val(totalqty);

            var price = $("#priceEdit").val();
            var totalprice = totalqty * price;
            var discount = $("#discEdit").val();
            var discamtval = $("#disc_amtEdit").val();
            var disctype = $("#is_disc_percBoolEdit").is(":checked");
            if (disctype == true) {
                var totaldisc = 0;
                if (discount != 0) {
                    totaldisc = (totalprice * discount) / 100;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            } else {
                var totaldisc = 0;
                if (discamtval != 0) {
                    totaldisc = discamtval;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            }

        });
        $("#Size_5_Edit").change(function () {
            if (!$('#Size_5_Edit').val()) {
                $("#Size_5_Edit").val(0);
            }
            var value1 = parseInt($("#Size_1_Edit").val());
            var value2 = parseInt($("#Size_2_Edit").val());
            var value3 = parseInt($("#Size_3_Edit").val());
            var value4 = parseInt($("#Size_4_Edit").val());
            var value5 = parseInt($("#Size_5_Edit").val());
            var value6 = parseInt($("#Size_6_Edit").val());
            var value7 = parseInt($("#Size_7_Edit").val());
            var value8 = parseInt($("#Size_8_Edit").val());
            var value9 = parseInt($("#Size_9_Edit").val());
            var value10 = parseInt($("#Size_10_Edit").val());
            var value11 = parseInt($("#Size_11_Edit").val());
            var value12 = parseInt($("#Size_12_Edit").val());
            var value13 = parseInt($("#Size_13_Edit").val());

            var totalqty = value1 + value2 + value3 + value4 + value5 + value6 + value7 + value8 + value9 + value10 + value11 + value12 + value13;
            $("#qtyEdit").val(totalqty);

            var price = $("#priceEdit").val();
            var totalprice = totalqty * price;
            var discount = $("#discEdit").val();
            var discamtval = $("#disc_amtEdit").val();
            var disctype = $("#is_disc_percBoolEdit").is(":checked");
            if (disctype == true) {
                var totaldisc = 0;
                if (discount != 0) {
                    totaldisc = (totalprice * discount) / 100;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            } else {
                var totaldisc = 0;
                if (discamtval != 0) {
                    totaldisc = discamtval;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            }

        });
        $("#Size_6_Edit").change(function () {
            if (!$('#Size_6_Edit').val()) {
                $("#Size_6_Edit").val(0);
            }
            var value1 = parseInt($("#Size_1_Edit").val());
            var value2 = parseInt($("#Size_2_Edit").val());
            var value3 = parseInt($("#Size_3_Edit").val());
            var value4 = parseInt($("#Size_4_Edit").val());
            var value5 = parseInt($("#Size_5_Edit").val());
            var value6 = parseInt($("#Size_6_Edit").val());
            var value7 = parseInt($("#Size_7_Edit").val());
            var value8 = parseInt($("#Size_8_Edit").val());
            var value9 = parseInt($("#Size_9_Edit").val());
            var value10 = parseInt($("#Size_10_Edit").val());
            var value11 = parseInt($("#Size_11_Edit").val());
            var value12 = parseInt($("#Size_12_Edit").val());
            var value13 = parseInt($("#Size_13_Edit").val());

            var totalqty = value1 + value2 + value3 + value4 + value5 + value6 + value7 + value8 + value9 + value10 + value11 + value12 + value13;
            $("#qtyEdit").val(totalqty);

            var price = $("#priceEdit").val();
            var totalprice = totalqty * price;
            var discount = $("#discEdit").val();
            var discamtval = $("#disc_amtEdit").val();
            var disctype = $("#is_disc_percBoolEdit").is(":checked");
            if (disctype == true) {
                var totaldisc = 0;
                if (discount != 0) {
                    totaldisc = (totalprice * discount) / 100;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            } else {
                var totaldisc = 0;
                if (discamtval != 0) {
                    totaldisc = discamtval;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            }

        });
        $("#Size_7_Edit").change(function () {
            if (!$('#Size_7_Edit').val()) {
                $("#Size_7_Edit").val(0);
            }
            var value1 = parseInt($("#Size_1_Edit").val());
            var value2 = parseInt($("#Size_2_Edit").val());
            var value3 = parseInt($("#Size_3_Edit").val());
            var value4 = parseInt($("#Size_4_Edit").val());
            var value5 = parseInt($("#Size_5_Edit").val());
            var value6 = parseInt($("#Size_6_Edit").val());
            var value7 = parseInt($("#Size_7_Edit").val());
            var value8 = parseInt($("#Size_8_Edit").val());
            var value9 = parseInt($("#Size_9_Edit").val());
            var value10 = parseInt($("#Size_10_Edit").val());
            var value11 = parseInt($("#Size_11_Edit").val());
            var value12 = parseInt($("#Size_12_Edit").val());
            var value13 = parseInt($("#Size_13_Edit").val());

            var totalqty = value1 + value2 + value3 + value4 + value5 + value6 + value7 + value8 + value9 + value10 + value11 + value12 + value13;
            $("#qtyEdit").val(totalqty);

            var price = $("#priceEdit").val();
            var totalprice = totalqty * price;
            var discount = $("#discEdit").val();
            var discamtval = $("#disc_amtEdit").val();
            var disctype = $("#is_disc_percBoolEdit").is(":checked");
            if (disctype == true) {
                var totaldisc = 0;
                if (discount != 0) {
                    totaldisc = (totalprice * discount) / 100;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            } else {
                var totaldisc = 0;
                if (discamtval != 0) {
                    totaldisc = discamtval;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            }

        });
        $("#Size_8_Edit").change(function () {
            if (!$('#Size_8_Edit').val()) {
                $("#Size_8_Edit").val(0);
            }
            var value1 = parseInt($("#Size_1_Edit").val());
            var value2 = parseInt($("#Size_2_Edit").val());
            var value3 = parseInt($("#Size_3_Edit").val());
            var value4 = parseInt($("#Size_4_Edit").val());
            var value5 = parseInt($("#Size_5_Edit").val());
            var value6 = parseInt($("#Size_6_Edit").val());
            var value7 = parseInt($("#Size_7_Edit").val());
            var value8 = parseInt($("#Size_8_Edit").val());
            var value9 = parseInt($("#Size_9_Edit").val());
            var value10 = parseInt($("#Size_10_Edit").val());
            var value11 = parseInt($("#Size_11_Edit").val());
            var value12 = parseInt($("#Size_12_Edit").val());
            var value13 = parseInt($("#Size_13_Edit").val());

            var totalqty = value1 + value2 + value3 + value4 + value5 + value6 + value7 + value8 + value9 + value10 + value11 + value12 + value13;
            $("#qtyEdit").val(totalqty);

            var price = $("#priceEdit").val();
            var totalprice = totalqty * price;
            var discount = $("#discEdit").val();
            var discamtval = $("#disc_amtEdit").val();
            var disctype = $("#is_disc_percBoolEdit").is(":checked");
            if (disctype == true) {
                var totaldisc = 0;
                if (discount != 0) {
                    totaldisc = (totalprice * discount) / 100;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            } else {
                var totaldisc = 0;
                if (discamtval != 0) {
                    totaldisc = discamtval;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            }

        });
        $("#Size_9_Edit").change(function () {
            if (!$('#Size_9_Edit').val()) {
                $("#Size_9_Edit").val(0);
            }
            var value1 = parseInt($("#Size_1_Edit").val());
            var value2 = parseInt($("#Size_2_Edit").val());
            var value3 = parseInt($("#Size_3_Edit").val());
            var value4 = parseInt($("#Size_4_Edit").val());
            var value5 = parseInt($("#Size_5_Edit").val());
            var value6 = parseInt($("#Size_6_Edit").val());
            var value7 = parseInt($("#Size_7_Edit").val());
            var value8 = parseInt($("#Size_8_Edit").val());
            var value9 = parseInt($("#Size_9_Edit").val());
            var value10 = parseInt($("#Size_10_Edit").val());
            var value11 = parseInt($("#Size_11_Edit").val());
            var value12 = parseInt($("#Size_12_Edit").val());
            var value13 = parseInt($("#Size_13_Edit").val());

            var totalqty = value1 + value2 + value3 + value4 + value5 + value6 + value7 + value8 + value9 + value10 + value11 + value12 + value13;
            $("#qtyEdit").val(totalqty);

            var price = $("#priceEdit").val();
            var totalprice = totalqty * price;
            var discount = $("#discEdit").val();
            var discamtval = $("#disc_amtEdit").val();
            var disctype = $("#is_disc_percBoolEdit").is(":checked");
            if (disctype == true) {
                var totaldisc = 0;
                if (discount != 0) {
                    totaldisc = (totalprice * discount) / 100;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            } else {
                var totaldisc = 0;
                if (discamtval != 0) {
                    totaldisc = discamtval;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            }

        });
        $("#Size_10_Edit").change(function () {
            if (!$('#Size_10_Edit').val()) {
                $("#Size_10_Edit").val(0);
            }
            var value1 = parseInt($("#Size_1_Edit").val());
            var value2 = parseInt($("#Size_2_Edit").val());
            var value3 = parseInt($("#Size_3_Edit").val());
            var value4 = parseInt($("#Size_4_Edit").val());
            var value5 = parseInt($("#Size_5_Edit").val());
            var value6 = parseInt($("#Size_6_Edit").val());
            var value7 = parseInt($("#Size_7_Edit").val());
            var value8 = parseInt($("#Size_8_Edit").val());
            var value9 = parseInt($("#Size_9_Edit").val());
            var value10 = parseInt($("#Size_10_Edit").val());
            var value11 = parseInt($("#Size_11_Edit").val());
            var value12 = parseInt($("#Size_12_Edit").val());
            var value13 = parseInt($("#Size_13_Edit").val());

            var totalqty = value1 + value2 + value3 + value4 + value5 + value6 + value7 + value8 + value9 + value10 + value11 + value12 + value13;
            $("#qtyEdit").val(totalqty);

            var price = $("#priceEdit").val();
            var totalprice = totalqty * price;
            var discount = $("#discEdit").val();
            var discamtval = $("#disc_amtEdit").val();
            var disctype = $("#is_disc_percBoolEdit").is(":checked");
            if (disctype == true) {
                var totaldisc = 0;
                if (discount != 0) {
                    totaldisc = (totalprice * discount) / 100;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            } else {
                var totaldisc = 0;
                if (discamtval != 0) {
                    totaldisc = discamtval;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            }

        });
        $("#Size_11_Edit").change(function () {
            if (!$('#Size_11_Edit').val()) {
                $("#Size_11_Edit").val(0);
            }
            var value1 = parseInt($("#Size_1_Edit").val());
            var value2 = parseInt($("#Size_2_Edit").val());
            var value3 = parseInt($("#Size_3_Edit").val());
            var value4 = parseInt($("#Size_4_Edit").val());
            var value5 = parseInt($("#Size_5_Edit").val());
            var value6 = parseInt($("#Size_6_Edit").val());
            var value7 = parseInt($("#Size_7_Edit").val());
            var value8 = parseInt($("#Size_8_Edit").val());
            var value9 = parseInt($("#Size_9_Edit").val());
            var value10 = parseInt($("#Size_10_Edit").val());
            var value11 = parseInt($("#Size_11_Edit").val());
            var value12 = parseInt($("#Size_12_Edit").val());
            var value13 = parseInt($("#Size_13_Edit").val());

            var totalqty = value1 + value2 + value3 + value4 + value5 + value6 + value7 + value8 + value9 + value10 + value11 + value12 + value13;
            $("#qtyEdit").val(totalqty);

            var price = $("#priceEdit").val();
            var totalprice = totalqty * price;
            var discount = $("#discEdit").val();
            var discamtval = $("#disc_amtEdit").val();
            var disctype = $("#is_disc_percBoolEdit").is(":checked");
            if (disctype == true) {
                var totaldisc = 0;
                if (discount != 0) {
                    totaldisc = (totalprice * discount) / 100;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            } else {
                var totaldisc = 0;
                if (discamtval != 0) {
                    totaldisc = discamtval;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            }

        });
        $("#Size_12_Edit").change(function () {
            if (!$('#Size_12_Edit').val()) {
                $("#Size_12_Edit").val(0);
            }
            var value1 = parseInt($("#Size_1_Edit").val());
            var value2 = parseInt($("#Size_2_Edit").val());
            var value3 = parseInt($("#Size_3_Edit").val());
            var value4 = parseInt($("#Size_4_Edit").val());
            var value5 = parseInt($("#Size_5_Edit").val());
            var value6 = parseInt($("#Size_6_Edit").val());
            var value7 = parseInt($("#Size_7_Edit").val());
            var value8 = parseInt($("#Size_8_Edit").val());
            var value9 = parseInt($("#Size_9_Edit").val());
            var value10 = parseInt($("#Size_10_Edit").val());
            var value11 = parseInt($("#Size_11_Edit").val());
            var value12 = parseInt($("#Size_12_Edit").val());
            var value13 = parseInt($("#Size_13_Edit").val());

            var totalqty = value1 + value2 + value3 + value4 + value5 + value6 + value7 + value8 + value9 + value10 + value11 + value12 + value13;
            $("#qtyEdit").val(totalqty);

            var price = $("#priceEdit").val();
            var totalprice = totalqty * price;
            var discount = $("#discEdit").val();
            var discamtval = $("#disc_amtEdit").val();
            var disctype = $("#is_disc_percBoolEdit").is(":checked");
            if (disctype == true) {
                var totaldisc = 0;
                if (discount != 0) {
                    totaldisc = (totalprice * discount) / 100;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            } else {
                var totaldisc = 0;
                if (discamtval != 0) {
                    totaldisc = discamtval;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            }

        });
        $("#Size_13_Edit").change(function () {
            if (!$('#Size_13_Edit').val()) {
                $("#Size_13_Edit").val(0);
            }
            var value1 = parseInt($("#Size_1_Edit").val());
            var value2 = parseInt($("#Size_2_Edit").val());
            var value3 = parseInt($("#Size_3_Edit").val());
            var value4 = parseInt($("#Size_4_Edit").val());
            var value5 = parseInt($("#Size_5_Edit").val());
            var value6 = parseInt($("#Size_6_Edit").val());
            var value7 = parseInt($("#Size_7_Edit").val());
            var value8 = parseInt($("#Size_8_Edit").val());
            var value9 = parseInt($("#Size_9_Edit").val());
            var value10 = parseInt($("#Size_10_Edit").val());
            var value11 = parseInt($("#Size_11_Edit").val());
            var value12 = parseInt($("#Size_12_Edit").val());
            var value13 = parseInt($("#Size_13_Edit").val());

            var totalqty = value1 + value2 + value3 + value4 + value5 + value6 + value7 + value8 + value9 + value10 + value11 + value12 + value13;
            $("#qtyEdit").val(totalqty);

            var price = $("#priceEdit").val();
            var totalprice = totalqty * price;
            var discount = $("#discEdit").val();
            var discamtval = $("#disc_amtEdit").val();
            var disctype = $("#is_disc_percBoolEdit").is(":checked");
            if (disctype == true) {
                var totaldisc = 0;
                if (discount != 0) {
                    totaldisc = (totalprice * discount) / 100;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            } else {
                var totaldisc = 0;
                if (discamtval != 0) {
                    totaldisc = discamtval;
                }
                var finalprice = totalprice - totaldisc
                $("#final_priceEdit").val(finalprice.toFixed(2));
            }

        });
        $("#qtyEdit").change(function () {
            var priceval = $("#priceEdit").val();
            var qtyval = $("#qtyEdit").val();
            var discval = $("#discEdit").val();
            if (qtyval != 0) {
                priceval = priceval * qtyval;
                if (priceval != null && discval != null) {
                    var discvalue = (priceval * discval) / 100;
                    var total = (priceval - discvalue).toFixed(2);
                    $("#final_priceEdit").val(total);
                } else {
                    $("#final_priceEdit").val(0);
                }
            } else {
                $("#final_priceEdit").val(0);

            }

        });
        $("#discEdit").change(function () {
            var priceval = $("#priceEdit").val();
            var qtyval = $("#qtyEdit").val();
            var discval = $("#discEdit").val();
            if (qtyval != 0) {
                priceval = priceval * qtyval;
                if (priceval != null && discval != null) {
                    var discvalue = (priceval * discval) / 100;
                    var total = (priceval - discvalue).toFixed(2);
                    $("#final_priceEdit").val(total);
                } else {
                    $("#final_priceEdit").val(0);
                }
            } else {
                $("#final_priceEdit").val(0);
            }

        });
        $("#disc_amtEdit").change(function () {
            var priceval = $("#priceEdit").val();
            var qtyval = $("#qtyEdit").val();
            var discval = $("#disc_amtEdit").val();
            if (qtyval != 0) {
                priceval = priceval * qtyval;
                if (priceval != null && discval != null) {
                    var discvalue = discval;
                    var total = (priceval - discvalue).toFixed(2);
                    $("#final_priceEdit").val(total);
                } else {
                    $("#final_priceEdit").val(0);
                }
            } else {
                $("#final_priceEdit").val(0);
            }

        });
        $('#is_disc_percBoolEdit').change(function () {
            if (this.checked) {
                //var returnVal = confirm("Are you sure?");
                //$(this).prop("checked", returnVal);
                //$("#discamtvalEdit").hide();
                $("#disc_amtEdit").val(0);
                //$("#discpercvalEdit").show();
                var priceval = $("#priceEdit").val();
                var qtyval = $("#qtyEdit").val();
                priceval = priceval * qtyval;
                $("#final_priceEdit").val(priceval);
            } else {
                //$("#discpercvalEdit").hide();
                $("#discEdit").val(0);
                //$("#discamtvalEdit").show();
                var priceval = $("#priceEdit").val();
                var qtyval = $("#qtyEdit").val();
                priceval = priceval * qtyval;
                $("#final_priceEdit").val(priceval);
            }
        });

    function openpopup(sender,article,size) {
        debugger;
        $("#datamode").val(sender.id);
        window.lastclicked = sender.id;
      var lastclickbtn = window.lastclicked;
            var splitbtn = lastclickbtn.split("EditArticle");
            //$("#SS_CODE").select2("readonly", true);
            $("#articleEdit").attr("readonly", "readonly");
            //$("#sizeEdit").attr("readonly", "readonly");
            $("#priceEdit").attr("readonly", "readonly");
            $("#qtyEdit").removeAttr('readonly');
            $("#discEdit").removeAttr('readonly');
            $("#Size_1_Edit").removeAttr('readonly');
            $("#Size_2_Edit").removeAttr('readonly');
            $("#Size_3_Edit").removeAttr('readonly');
            $("#Size_4_Edit").removeAttr('readonly');
            $("#Size_5_Edit").removeAttr('readonly');
            $("#Size_6_Edit").removeAttr('readonly');
            $("#Size_7_Edit").removeAttr('readonly');
            $("#Size_8_Edit").removeAttr('readonly');
            $("#Size_9_Edit").removeAttr('readonly');
            $("#Size_10_Edit").removeAttr('readonly');
            $("#Size_11_Edit").removeAttr('readonly');
            $("#Size_12_Edit").removeAttr('readonly');
            $("#Size_13_Edit").removeAttr('readonly');
            $("#is_disc_percBoolEdit").removeAttr("disabled");
            $("#disc_amtEdit").removeAttr('readonly');
            var code = article;
            $.ajax({
            url: '@Url.Action("getOrderDataEdit2", "Catalog")',
                type: "GET",
                data: { article: code },
                //startDate: mFromDate, endDate: mToDate1
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    debugger;
                    if (splitbtn.length > 1) {
                        var articledata = data.article;
                        $("#articleEdit").val(articledata);
                        $("#articleEdit").trigger('change');
                        $("#qtyEdit").val(data.qty);
                        $("#priceEdit").val(data.price);
                        //$("#discEdit").val(data.disc);

                        $("#Size_1_Edit").val(data.size_1);
                        $("#Size_2_Edit").val(data.size_2);
                        $("#Size_3_Edit").val(data.size_3);
                        $("#Size_4_Edit").val(data.size_4);
                        $("#Size_5_Edit").val(data.size_5);
                        $("#Size_6_Edit").val(data.size_6);
                        $("#Size_7_Edit").val(data.size_7);
                        $("#Size_8_Edit").val(data.size_8);
                        $("#Size_9_Edit").val(data.size_9);
                        $("#Size_10_Edit").val(data.size_10);
                        $("#Size_11_Edit").val(data.size_11);
                        $("#Size_12_Edit").val(data.size_12);
                        $("#Size_13_Edit").val(data.size_13);
                        var disctype = data.is_disc_perc;
                        if (disctype == "1") {
                            $("#is_disc_percBoolEdit").prop("checked", true);
                            $("#discEdit").val(data.disc);
                            $("#disc_amtEdit").val(0);
                            //$("#discamtvalEdit").hide();
                            //$("#discpercvalEdit").show();

                        } else {
                            $("#is_disc_percBoolEdit").prop("checked", false);
                            $("#discEdit").val(0);
                            $("#disc_amtEdit").val(data.disc_amt);
                            //$("#discpercvalEdit").hide();
                        //    $("#discamtvalEdit").show();
                        }
                        $.ajax({
                            type: "GET",
                            url: "/SalesOrder/getdataprice",
                            data: { article: articledata },
                            success: function (data2) {
                                debugger;
                                console.log(data2);
                                $("#priceEdit").val(data2.articleprice)

                                var priceval = $("#priceEdit").val();
                                var qtyval = $("#qtyEdit").val();
                                var discval = $("#discEdit").val();
                                var discamtval = $("#disc_amtEdit").val();
                                if (disctype == "1") {
                                    if (qtyval != 0) {
                                        priceval = priceval * qtyval;
                                        if (priceval != null && discval != null) {
                                            var discvalue = (priceval * discval) / 100;
                                            var total = (priceval - discvalue).toFixed(2);
                                            $("#final_priceEdit").val(total);
                                        } else {
                                            $("#final_priceEdit").val(0);
                                        }
                                    } else {
                                        $("#final_priceEdit").val(0);
                                    }

                                } else {
                                    if (qtyval != 0) {
                                        priceval = priceval * qtyval;
                                        if (priceval != null && discamtval != null) {
                                            var discvalue = discamtval;
                                            var total = (priceval - discvalue).toFixed(2);
                                            $("#final_priceEdit").val(total);
                                        } else {
                                            $("#final_priceEdit").val(0);
                                        }
                                    } else {
                                        $("#final_priceEdit").val(0);
                                    }
                                }
                                //$('#SS_CODE_EDIT').html(s);
                                ////$("#SSList").select2({ placeholder: "Select SS" });
                                //$("#SS_CODE_EDIT").val(null);
                                //$("#SS_CODE_EDIT").trigger('change');

                            }
                        })
                        $.ajax({
                            type: "GET",
                            url: "/SalesOrder/getsizecode",
                            data: { article: articledata },
                            success: function (data3) {
                                debugger;
                                console.log(data3);
                                $("#sizeCodeTxtEdit").val(data3.sizecode)
                                if (data3.size1 != null && data3.size1 != "") {
                                    $("#Size1lblEdit").text(data3.size1);
                                    var size1 = data3.size1.substr(1);
                                    if (data3.size1.length > 2) {
                                        size1 = data3.size1.substr(2);
                                    }
                                    if (size1 == "5") {
                                        $("#Size_1_Edit").val(0);
                                        $("#Size_1_Edit").attr("readonly", "readonly");

                                    } else {
                                        $("#Size_1_Edit").removeAttr('readonly');

                                    }
                                }
                                if (data3.size2 != null && data3.size2 != "") {
                                    $("#Size2lblEdit").text(data3.size2);
                                    var size2 = data3.size2.substr(1);
                                    if (data3.size2.length > 2) {
                                        size2 = data3.size2.substr(2);
                                    }
                                    if (size2 == "5") {
                                        $("#Size_2_Edit").val(0);

                                        $("#Size_2_Edit").attr("readonly", "readonly");

                                    } else {
                                        $("#Size_2_Edit").removeAttr('readonly');

                                    }
                                }
                                if (data3.size3 != null && data3.size3 != "") {
                                    $("#Size3lblEdit").text(data3.size3);
                                    var size3 = data3.size3.substr(1);
                                    if (data3.size3.length > 2) {
                                        size3 = data3.size3.substr(2);
                                    }
                                    if (size3 == "5") {
                                        $("#Size_3_Edit").val(0);

                                        $("#Size_3_Edit").attr("readonly", "readonly");

                                    } else {
                                        $("#Size_3_Edit").removeAttr('readonly');

                                    }
                                }
                                if (data3.size4 != null && data3.size4 != "") {
                                    $("#Size4lblEdit").text(data3.size4);
                                    var size4 = data3.size4.substr(1);
                                    if (data3.size4.length > 2) {
                                        size4 = data3.size4.substr(2);
                                    }
                                    if (size4 == "5") {
                                        $("#Size_4_Edit").val(0);

                                        $("#Size_4_Edit").attr("readonly", "readonly");

                                    } else {
                                        $("#Size_4_Edit").removeAttr('readonly');

                                    }
                                }
                                if (data3.size5 != null && data3.size5 != "") {
                                    $("#Size5lblEdit").text(data3.size5);
                                    var size5 = data3.size5.substr(1);
                                    if (data3.size5.length > 2) {
                                        size5 = data3.size5.substr(2);
                                    }
                                    if (size5 == "5") {
                                        $("#Size_5_Edit").val(0);

                                        $("#Size_5_Edit").attr("readonly", "readonly");

                                    } else {
                                        $("#Size_5_Edit").removeAttr('readonly');

                                    }
                                }
                                if (data3.size6 != null && data3.size6 != "") {
                                    $("#Size6lblEdit").text(data3.size6);
                                    var size6 = data3.size6.substr(1);
                                    if (data3.size6.length > 2) {
                                        size6 = data3.size6.substr(2);
                                    }
                                    if (size6 == "5") {
                                        $("#Size_6_Edit").val(0);

                                        $("#Size_6_Edit").attr("readonly", "readonly");

                                    } else {
                                        $("#Size_6_Edit").removeAttr('readonly');

                                    }
                                }
                                if (data3.size7 != null && data3.size7 != "") {
                                    $("#Size7lblEdit").text(data3.size7);
                                    var size7 = data3.size7.substr(1);
                                    if (data3.size7.length > 2) {
                                        size7 = data3.size7.substr(2);
                                    }
                                    if (size7 == "5") {
                                        $("#Size_7_Edit").val(0);

                                        $("#Size_7_Edit").attr("readonly", "readonly");

                                    } else {
                                        $("#Size_7_Edit").removeAttr('readonly');

                                    }
                                }
                                if (data3.size8 != null && data3.size8 != "") {
                                    $("#Size8lblEdit").text(data3.size8);
                                    var size8 = data3.size8.substr(1);
                                    if (data3.size8.length > 2) {
                                        size8 = data3.size8.substr(2);
                                    }
                                    if (size8 == "5") {
                                        $("#Size_8_Edit").val(0);

                                        $("#Size_8_Edit").attr("readonly", "readonly");

                                    } else {
                                        $("#Size_8_Edit").removeAttr('readonly');

                                    }
                                }
                                if (data3.size9 != null && data3.size9 != "") {
                                    $("#Size9lblEdit").text(data3.size9);
                                    var size9 = data3.size9.substr(1);
                                    if (data3.size9.length > 2) {
                                        size9 = data3.size9.substr(2);
                                    }
                                    if (size9 == "5") {
                                        $("#Size_9_Edit").val(0);

                                        $("#Size_9_Edit").attr("readonly", "readonly");

                                    } else {
                                        $("#Size_9_Edit").removeAttr('readonly');

                                    }
                                }
                                if (data3.size10 != null && data3.size10 != "") {
                                    $("#Size10lblEdit").text(data3.size10);
                                    var size10 = data3.size10.substr(1);
                                    if (data3.size10.length > 2) {
                                        size10 = data3.size10.substr(2);
                                    }
                                    if (size10 == "5") {
                                        $("#Size_10_Edit").val(0);

                                        $("#Size_10_Edit").attr("readonly", "readonly");

                                    } else {
                                        $("#Size_10_Edit").removeAttr('readonly');

                                    }
                                }
                                if (data3.size11 != null && data3.size11 != "") {
                                    $("#Size11lblEdit").text(data3.size11);
                                    var size11 = data3.size11.substr(1);
                                    if (data3.size11.length > 2) {
                                        size11 = data3.size11.substr(2);
                                    }
                                    if (size11 == "5") {
                                        $("#Size_11_Edit").val(0);

                                        $("#Size_11_Edit").attr("readonly", "readonly");

                                    } else {
                                        $("#Size_11_Edit").removeAttr('readonly');

                                    }
                                }
                                if (data3.size12 != null && data3.size12 != "") {
                                    $("#Size12lblEdit").text(data3.size12);
                                    var size12 = data3.size12.substr(1);
                                    if (data3.size12.length > 2) {
                                        size12 = data3.size12.substr(2);
                                    }
                                    if (size12 == "5") {
                                        $("#Size_12_Edit").val(0);

                                        $("#Size_12_Edit").attr("readonly", "readonly");

                                    } else {
                                        $("#Size_12_Edit").removeAttr('readonly');

                                    }
                                }
                                if (data3.size13 != null && data3.size13 != "") {
                                    $("#Size13lblEdit").text(data3.size13);
                                    var size13 = data3.size13.substr(1);
                                    if (data3.size13.length > 2) {
                                        size13 = data3.size13.substr(2);
                                    }
                                    if (size13 == "5") {
                                        $("#Size_13_Edit").val(0);

                                        $("#Size_13_Edit").attr("readonly", "readonly");

                                    } else {
                                        $("#Size_13_Edit").removeAttr('readonly');

                                    }
                                }
                            }
                        })
                        $("#btnPopupMod").attr('value', 'Update Order');

                    } else {
                        var articledata = data.article;
                        $("#articleEdit").val(articledata);
                        $("#articleEdit").trigger('change');
                        $("#qtyEdit").val(data.qty);
                        $("#priceEdit").val(data.price);
                        $("#discEdit").val(data.disc);

                        $("#Size_1_Edit").val(data.size_1);
                        $("#Size_2_Edit").val(data.size_2);
                        $("#Size_3_Edit").val(data.size_3);
                        $("#Size_4_Edit").val(data.size_4);
                        $("#Size_5_Edit").val(data.size_5);
                        $("#Size_6_Edit").val(data.size_6);
                        $("#Size_7_Edit").val(data.size_7);
                        $("#Size_8_Edit").val(data.size_8);
                        $("#Size_9_Edit").val(data.size_9);
                        $("#Size_10_Edit").val(data.size_10);
                        $("#Size_11_Edit").val(data.size_11);
                        $("#Size_12_Edit").val(data.size_12);
                        $("#Size_13_Edit").val(data.size_13);

                        $("#Size_1_Edit").attr("readonly", "readonly");
                        $("#Size_2_Edit").attr("readonly", "readonly");
                        $("#Size_3_Edit").attr("readonly", "readonly");
                        $("#Size_4_Edit").attr("readonly", "readonly");
                        $("#Size_5_Edit").attr("readonly", "readonly");
                        $("#Size_6_Edit").attr("readonly", "readonly");
                        $("#Size_7_Edit").attr("readonly", "readonly");
                        $("#Size_8_Edit").attr("readonly", "readonly");
                        $("#Size_9_Edit").attr("readonly", "readonly");
                        $("#Size_10_Edit").attr("readonly", "readonly");
                        $("#Size_11_Edit").attr("readonly", "readonly");
                        $("#Size_12_Edit").attr("readonly", "readonly");
                        $("#Size_13_Edit").attr("readonly", "readonly");

                        var disctype = data.is_disc_perc;
                        if (disctype == "1") {
                            $("#is_disc_percBoolEdit").prop("checked", true);
                            $("#discEdit").val(data.disc);
                            $("#disc_amtEdit").val(0);
                            //$("#discamtvalEdit").hide();
                            //$("#discpercvalEdit").show();

                        } else {
                            $("#is_disc_percBoolEdit").prop("checked", false);
                            $("#discEdit").val(0);
                            $("#disc_amtEdit").val(data.disc_amt);
                            //$("#discpercvalEdit").hide();
                        //    $("#discamtvalEdit").show();
                        }
                        $("#is_disc_percBoolEdit").attr("disabled", true);
                        $("#disc_amtEdit").attr("readonly", "readonly");
                        $.ajax({
                            type: "GET",
                            url: "/SalesOrder/getdataprice",
                            data: { article: articledata },
                            success: function (data) {
                                debugger;
                                console.log(data);
                                $("#priceEdit").val(data.articleprice)

                                var priceval = $("#priceEdit").val();
                                var qtyval = $("#qtyEdit").val();
                                var discval = $("#discEdit").val();
                                var discamtval = $("#disc_amtEdit").val();
                                if (disctype == "1") {
                                    if (qtyval != 0) {
                                        priceval = priceval * qtyval;
                                        if (priceval != null && discval != null) {
                                            var discvalue = (priceval * discval) / 100;
                                            var total = (priceval - discvalue).toFixed(2);
                                            $("#final_priceEdit").val(total);
                                        } else {
                                            $("#final_priceEdit").val(0);
                                        }
                                    } else {
                                        $("#final_priceEdit").val(0);
                                    }

                                } else {
                                    if (qtyval != 0) {
                                        priceval = priceval * qtyval;
                                        if (priceval != null && discamtval != null) {
                                            var discvalue = discamtval;
                                            var total = (priceval - discvalue).toFixed(2);
                                            $("#final_priceEdit").val(total);
                                        } else {
                                            $("#final_priceEdit").val(0);
                                        }
                                    } else {
                                        $("#final_priceEdit").val(0);
                                    }
                                }

                                //$('#SS_CODE_EDIT').html(s);
                                ////$("#SSList").select2({ placeholder: "Select SS" });
                                //$("#SS_CODE_EDIT").val(null);
                                //$("#SS_CODE_EDIT").trigger('change');

                            }
                        })



                        $("#qtyEdit").attr("readonly", "readonly");
                        $("#discEdit").attr("readonly", "readonly");

                        //$("#NILAI_EDIT").attr("disabled", "disabled");
                        //$("#NoSertifikat_EDIT").attr("disabled", "disabled");
                        //$("#isCertified_EDIT").attr("disabled", "disabled");
                        //$("#isPresent_EDIT").attr("disabled", "disabled");
                        //$("#fileSertifikat_EDIT").attr("disabled", "disabled");
                        $("#btnPopupMod").attr('value', 'Hapus Order');
                    }

                },
                error: function () {

                }

        });
            $("#dialogEdit").dialog("open");
    }

    function allowOnlyNumber(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
    function alertfirst() {
            var totalqty = $("#TOTAL_QTY").val();
            var getValidate = function () {
                var tmp = null;
                $.ajax({
                    'async': false,
                    'type': "POST",
                    'global': false,
                    'dataType': 'html',
                    'url': "/SalesOrder/validateqtyShipping",
                    'data': { 'request': "", 'target': 'arrange_url', 'method': 'method_target', 'qty': totalqty },
                    'success': function (data) {
                        tmp = data;
                    }
                });
                return tmp;
            }();
            if (getValidate == '"pass"') {
                if (confirm("Are you sure saving data?")) {
                    $('#formcreate').submit();
                    //SaveForm();
                } else {
                    return false;
                }
            } else {
                alert("Minimum qty has not met");
            }

        }
    function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
    function alertfirst2(sender) {
            console.log(sender);
            var textval = $("#" + sender.id).val();
            debugger;
            if (textval == "Update Order") {
                var qtyval = $('#qtyEdit').val();
                var getValidate = function () {
                    var tmp = null;
                    $.ajax({
                        'async': false,
                        'type': "POST",
                        'global': false,
                        'dataType': 'html',
                        'url': "/SalesOrder/validateqty",
                        'data': { 'request': "", 'target': 'arrange_url', 'method': 'method_target', 'qty': qtyval },
                        'success': function (data) {
                            tmp = data;
                        }
                    });
                    return tmp;
                }();

                debugger;
                if (getValidate == '"pass"') {
                    if (confirm("Are you sure saving data?")) {
                        $('#formdtlEdit').submit();

                        //SaveForm();
                    } else {
                        return false;
                    }
                } else {
                    var errmsg = "";
                    if (qtyval < 20) {
                        errmsg += "minimum quantity has not been met \n"
                    }

                    alert(errmsg);

                }
            } else {
                if (confirm("Are you sure saving data?")) {
                    $('#formdtlEdit').submit();

                    //SaveForm();
                } else {
                    return false;
                }
            }


        }
    function alertfirst3(sender) {
            debugger;

            if (confirm("Are you sure saving data?")) {
                $('#formdtlEdit').submit();

                //SaveForm();
            } else {
                return false;
            }

        }
    function alertfirstchk(sender) {
            debugger;
        var shippingaddr = $('#SHIPPING_ADDRESS').val();
        if (shippingaddr != null && shippingaddr != "") {
            if (confirm("Are you sure saving data?")) {
                $('#formdtlupload').submit();

                //SaveForm();
            } else {
                return false;
            }
        } else {
            alert("Please fill address");
        }

          

    }
    function openchk(sender) {
        $("#dialogCheckout").dialog("open");
    }
    </script>
}
