@model OnPOS.Models.dbSalesStaff
@{
    ViewData["Title"] = "Edit";
    var errmsg = "";
    if (Model != null)
    {
        if (!string.IsNullOrEmpty(Model.errmsg))
        {
            errmsg = Model.errmsg;
        }
    }

}
<style>
    input.largerCheckbox {
        width: 20px;
        height: 20px;
    }

    #panel, #flip {
        padding: 5px;
        text-align: center;
        background-color: #e5eecc;
        border: solid 1px #c3c3c3;
    }

    #panel {
        padding: 50px;
        display: none;
    }
</style>
<h1>Edit</h1>
<h3>Sales Staff Edit</h3>
<hr />
<form asp-action="Edit" id="formcreate" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input asp-for="SALES_NAME" class="form-control" />
                        <span asp-validation-for="SALES_NAME" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Register Dates</label>
                        <input type="date" asp-for="SALES_REG_DATE" class="form-control" />
                        <span asp-validation-for="SALES_REG_DATE" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <label class="control-label">KTP</label>
                        <input asp-for="SALES_KTP" class="form-control" onkeypress="return allowOnlyNumber(event);" />
                        <span asp-validation-for="SALES_KTP" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Phone </label>
                        <input asp-for="SALES_PHONE" class="form-control" onkeypress="return allowOnlyNumber(event);" />
                        <span asp-validation-for="SALES_PHONE" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Blacklist</label>
                        <br />
                        <input asp-for="isBlackList" class="largerCheckbox" />
                        <span asp-validation-for="isBlackList" class="text-danger"></span>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-sm">
            <div class="form-group">
                <label class="control-label">Email</label>
                <input asp-for="SALES_EMAIL" class="form-control" />
                <span asp-validation-for="SALES_EMAIL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <input type="button" value="Simpan Data" onclick="alertfirst()" class="btn btn-red" />
            </div>
        </div>

    </div>

</form>


<div>
    <a asp-action="Index" class="btn btn-dark">Kembali ke List</a>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {

            $("#flip").click(function () {
                $("#panel").slideToggle();
                //$("#panel").slideUp("slow");
            });
            var errmsg = '@errmsg';
            if (errmsg != "" && errmsg != null) {
                alert(errmsg);
            }


        });

        function allowOnlyNumber(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
        function alertfirst() {
            var pass = $("#Password").val();
            if (pass == "" || pass == null) {
                alert("empty password");
            } else {
                if (confirm("Are you sure saving data?")) {
                    $('#formcreate').submit();
                } else {
                    return false;
                }
            }

        }


    </script>
}
