@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register Complete";
}
<h1>Registrasi selesai</h1>
<p>
    Kami sedang memverifikasi data anda, kami akan menghubungi anda kembali setelah akun aktif, terima kasih
    <br />
    <a asp-action="Index" asp-controller="Home" class="btn btn-dark">Kembali ke halaman awal</a>

</p>