@model BataAppHR.Models.dbNilaiSSFixed

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div>
    <h4>Program Info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>id: </label>@Html.DisplayFor(model => model.ScoreId)
        </dt>
        <dt>
            <label>SS Code: </label> @Html.DisplayFor(model => model.SS_CODE)
        </dt>
        <dt>
            <label>TRN ID: </label>@Html.DisplayFor(model => model.TRN_ID)
        </dt>
        <dt>
            <label>Nilai: </label>@Html.DisplayFor(model => model.NILAI)
        </dt>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ScoreId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Back to list</a>
    </form>
</div>