@model BataAppHR.Models.dbNilaiSSFixed
@{
    ViewData["Title"] = "Edit";
    var filename = Model.FILE_SERTIFIKAT;
    var sscode = Model.SS_CODE;
    var trncode = Model.TRN_ID;
}
<style>
    input.largerCheckbox {
        width: 20px;
        height: 20px;
    }
</style>
<h1>Edit</h1>
<h3>Score Entry</h3>
<hr />
<form asp-action="Edit" id="formcreate" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label class="control-label">Nama SS</label>
                    <br />
                    @Html.DropDownListFor(m => m.SS_CODE, new SelectList(Model.SSDD, "SS_CODE", "NAMA_SS"), new { @class = "form-control" })
                    <span asp-validation-for="SS_CODE" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Training Module</label>
                    <br />
                    @Html.DropDownListFor(m => m.TRN_ID, new SelectList(Model.rekapDD, "TRN_ID", "Program"), new { @class = "form-control" })
                    <span asp-validation-for="TRN_ID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Nilai</label>
                    <input asp-for="NILAI" class="form-control" onkeypress="return allowOnlyNumber(event);" />
                    <span asp-validation-for="NILAI" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Sertifikat:</label>
                    <i style="font-size:smaller">
                        Max Size: 4MB,
                        file: JPG, JPEG, PNG
                    </i>
                    <br />
                    <table>
                        <tr>
                            <td>
                                <input asp-for="isCertified" class="largerCheckbox" />

                            </td>
                            <td style="padding-left:20px;">
                                <input type="file" asp-for="fileSertifikat" />
                                <br />
                                <a href="#" id="fileName"></a>
                            </td>
                        </tr>
                    </table>
                    <span asp-validation-for="isCertified" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">No Sertifikat</label>
                    <input asp-for="NoSertifikat" class="form-control" />
                    <span asp-validation-for="NoSertifikat" class="text-danger"></span>
                </div>

            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label class="control-label">Program Detail:</label>
                    <input type="text" id="DtlTxt" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label class="control-label">Periode:</label>
                    <input type="text" id="PeriodeTxt" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label class="control-label">Trainer:</label>
                    <input type="text" id="TrainerTxt" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label class="control-label">Type:</label>
                    <input type="text" id="TypeTxt" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <input type="button" value="Simpan perubahan" onclick="alertfirst()" class="btn btn-red" />
                </div>
            </div>

        </div>
    </div>


</form>



<div>
    <a asp-action="Index" class="btn btn-dark">Kembali ke List</a>
</div>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script>
        $(document).ready(function () {
            console.log("ready!");
            $("#SS_CODE").select2({
                placeholder: "Select Edp Code",
                initSelection: function (element, callback) {
                },
                dropdownAutoWidth: true,
                width: 'auto'
            });
           var trncode = '@trncode';
            var sscode = '@sscode';
            debugger;
            if (sscode == '' || sscode == null) {
                $("#SS_CODE").val(null);
                $("#SS_CODE").trigger('change');

            }
            $("#TRN_ID").select2({
                placeholder: "Select Trainer Code",
                initSelection: function (element, callback) {
                },
                dropdownAutoWidth: true,
                width: 'auto'
            });
            if (trncode == '' || trncode == null) {
                $("#TRN_ID").val(null);
                $("#TRN_ID").trigger('change');

            } else {
                var value = $("#TRN_ID").val();
                $.ajax({
                    type: "GET",
                    url: "/ScoreDB/getDataRekap?TRN_ID=" + value,
                    data: "{}",
                    success: function (data) {
                        debugger;
                        if (data.length != 0) {
                            var ProgramTxt = data[0].programTxt;
                            var Periode = data[0].periode;
                            var Trainer = data[0].trainer;
                            var Type = data[0].type;

                            $("#DtlTxt").val(ProgramTxt);
                            $("#PeriodeTxt").val(Periode);
                            $("#TrainerTxt").val(Trainer);
                            $("#TypeTxt").val(Type);


                        }
                    }
                });
            }
         
           var filename = '@filename';
            $("#fileName").html(filename);
            $("#fileName").attr("href", "/ScoreDB/DownloadSertifikat?fname=" + filename);

        });
        $('#TRN_ID').on('change', function () {
            var value = $("#TRN_ID").val();
            $.ajax({
                type: "GET",
                url: "/ScoreDB/getDataRekap?TRN_ID=" + value,
                data: "{}",
                success: function (data) {
                    debugger;
                    if (data.length != 0) {
                        var ProgramTxt = data[0].programTxt;
                        var Periode = data[0].periode;
                        var Trainer = data[0].trainer;
                        var Type = data[0].type;

                        $("#DtlTxt").val(ProgramTxt);
                        $("#PeriodeTxt").val(Periode);
                        $("#TrainerTxt").val(Trainer);
                        $("#TypeTxt").val(Type);


                    }
                }
            });
        });

        $('#idTrainer').on('change', function () {
            var value = $("#idTrainer").val();
            var data = $("#idTrainer").select2('data')
            $("#Trainer").val(data[0].text);
        });
        function allowOnlyNumber(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
        function alertfirst() {
            if (confirm("Are you sure saving data?")) {
                $('#formcreate').submit();
            } else {
                return false;
            }
        }
</script>
}
