@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>Email has been confirmed</h1>
<p>click here: <a href="https://localhost:44360/Identity/Account/Login" >Login page</a></p>