@model OnPOS.Models.dbDiscount
@{
    ViewData["Title"] = "Create";
}
<style>
    input.largerCheckbox {
        width: 20px;
        height: 20px;
    }
</style>
<h1>Edit</h1>
<h3>Promotion Edit</h3>
<hr />

<form asp-action="Create" id="formcreate">
    <div class="row">

        <div class="col-sm">
            <div class="form-group">
                <label class="control-label">Promo Description</label>
                <input asp-for="promo_name" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="article" class="control-label"></label>
                <br />
                @Html.DropDownListFor(m => m.article, new SelectList(Model.listitems, "id", "name"), new { @class = "form-control" })
                <span asp-validation-for="article" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <br />
                @Html.DropDownListFor(model => model.type, new List<SelectListItem>
                {
                new SelectListItem{ Text="percentage", Value = "percentage" },
                new SelectListItem{ Text="amount", Value = "amount" }

                }, new { @class = "form-control" })
                <span asp-validation-for="type" class="text-danger"></span>
            </div>

            <div class="form-group" id="isperc">
                <label asp-for="percentage" class="control-label"></label>
                <input asp-for="percentage" class="form-control" />
                <span asp-validation-for="percentage" class="text-danger"></span>
            </div>

            <div class="form-group" id="isamt">
                <label asp-for="amount" class="control-label"></label>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label asp-for="validfrom" class="control-label"></label>
                <input asp-for="validfrom" class="form-control" type="datetime-local" />
                <span asp-validation-for="validfrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="validto" class="control-label"></label>
                <input asp-for="validto" class="form-control" type="datetime-local" />
                <span asp-validation-for="validto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Promo Status: </label>
                <br />
                <input asp-for="isactive" class="largerCheckbox" />
                <span asp-validation-for="isactive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">available on all store: </label>
                <br />
                <input asp-for="isallstorebool" class="largerCheckbox" />
                <span asp-validation-for="isallstorebool" class="text-danger"></span>
            </div>
            <div class="form-group" id="storeselect">
                <label class="control-label">Select Store: </label>
                <br />
                @Html.DropDownListFor(m => m.storeidlist, new SelectList(Model.liststore, "id", "name"), new { @class = "form-control" })
                <span asp-validation-for="isallstorebool" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="button" value="Save" onclick="alertfirst()" class="btn btn-red" />

    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-dark">Kembali ke List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $("#amount").on("change paste keyup", function () {
                if ($(this).val() < 1) {
                    $(this).val(1);
                }
            });
            $("#percentage").on("change paste keyup", function () {
                if ($(this).val() < 1) {
                    $(this).val(1);
                }
            });
            $("#article").select2({
                placeholder: "Select article",
                initSelection: function (element, callback) {
                },
                dropdownAutoWidth: true,
                width: 'auto'
            });
           
            $("#storeidlist").select2({
                placeholder: "Select store id",
                multiple: true,
                initSelection: function (element, callback) {
                },
                dropdownAutoWidth: true,
                width: 'auto'
            });
            $("#type").select2({
                placeholder: "Select Promo type",
                initSelection: function (element, callback) {
                },
                dropdownAutoWidth: true,
                width: 'auto'
            });

            $("#type").on("change", function () {
                var typeval = $("#type").val();
                if (typeval == "percentage") {
                    $("#isamt").hide();
                    $("#isperc").show();

                } else {
                    $("#isamt").show();
                    $("#isperc").hide();

                }
            });
            $("#isallstorebool").on("change", function () {
                var chk = $("#isallstorebool").is(':checked');
                if (!chk) {
                    $("#storeselect").show();

                } else {
                    $("#storeselect").hide();
                    $("#storeselect").val(null);
                    $("#storeselect").trigger('change');

                }
            });
            

            var typevals = $("#type").val();
            if (typevals == "percentage") {
                $("#isamt").hide();
                $("#isperc").show();

            } else {
                $("#isamt").show();
                $("#isperc").hide();

            }
            var chks = $("#isallstorebool").is(':checked');
            if (!chks) {
                $("#storeselect").show();

            } else {
                $("#storeselect").hide();
                $("#storeidlist").val(null);
                $("#storeidlist").trigger('change');

            }
        });

        function allowOnlyNumber(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
        function alertfirst() {
            if (confirm("Are you sure saving data?")) {
                $('#formcreate').submit();
            } else {
                return false;
            }
        }
    </script>
}
