@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark font-weight-bold align-self-center" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light text-small align-self-center">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Daftar</a>
            <div class="dropdown-menu">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Daftar ID Toko</a>
                <a class="nav-link" asp-area="Identity" asp-page="/Account/RegisterCustomer">Daftar ID Customer</a>

                @*<a class="dropdown-item" asp-area="" asp-controller="ExportDataRD" asp-action="Index">Download Data RD</a>*@


            </div>
        </li>
        @*<li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Daftar</a>
        </li>*@
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
