@model BataAppHR.Models.XstoreModel
@{
    ViewData["Title"] = "Update RD";
    var isAdmin = User.IsInRole("Admin").ToString();
}
<style>
    input.largerCheckbox {
        width: 20px;
        height: 20px;
    }
</style>
<h1>Update Store RD</h1>
<h3 class="display-5">Form Update</h3>
<hr />
<form asp-action="UpdateData" id="formcreate" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <table>
                        <tr>
                            <td>
                                <label class="control-label">EDP Code:</label>
                                <br />
                                @*<input asp-for="EDP_CODE" class="form-control" onkeypress="return allowOnlyNumber(event);" />*@
                                @if (User.IsInRole("Admin"))
                                {
                                    @Html.DropDownListFor(m => m.edp, new SelectList(Model.ddEdp, "edp", "store_location"), new { @class = "form-control" })
                                }
                                else
                                {
                                    <input asp-for="edp" class="form-control" readonly />
                                }

                                <span asp-validation-for="edp" class="text-danger"></span>
                            </td>


                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">District:</label>
                                <br />
                                @*<input asp-for="EDP_CODE" class="form-control" onkeypress="return allowOnlyNumber(event);" />*@
                                <input asp-for="district" class="form-control" readonly />

                                <span asp-validation-for="district" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">Area:</label>
                                <br />
                                @*<input asp-for="EDP_CODE" class="form-control" onkeypress="return allowOnlyNumber(event);" />*@
                                <input asp-for="area" class="form-control" readonly />

                                <span asp-validation-for="area" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">Store Location:</label>
                                <br />
                                @*<input asp-for="EDP_CODE" class="form-control" onkeypress="return allowOnlyNumber(event);" />*@
                                <input asp-for="store_location" class="form-control" readonly />

                                <span asp-validation-for="store_location" class="text-danger"></span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label class="control-label">RD: </label>
                                <br />
                                @Html.DropDownListFor(m => m.RD_CODE, new SelectList(Model.rdlist, "RD_CODE", "NM_RD"), new { @class = "form-control" })
                            </td>
                        </tr>

                    </table>

                </div>
                <div class="form-group">
                    <input type="button" value="Update Data" onclick="alertfirst()" class="btn btn-red" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script>
    $(document).ready(function () {
        var isAdmin = '@isAdmin';
        $("#RD_CODE").select2({
            placeholder: "Select RD",
            initSelection: function (element, callback) {
            },
            dropdownAutoWidth: true,
            width: 'auto'
        });
        var isAdmin = '@isAdmin';
        debugger;
        if (isAdmin == "True") {
            $("#edp").select2({
                placeholder: "Select Edp Code",
                initSelection: function (element, callback) {
                },
                dropdownAutoWidth: true,
                width: 'auto'
            });
            $("#edp").val(null);
            $("#edp").trigger('change');
            $("#RD_CODE").val(null);
            $("#RD_CODE").trigger('change');
        }
    });
    $('#edp').on('change', function () {
        var value = $("#edp").val();
        $.ajax({
            type: "GET",
            url: "/AssignRD/getXstore?edp=" + value,
            data: "{}",
            success: function (data) {
                debugger;
                if (data.length != 0) {
                    var area = data[0].area;
                    var district = data[0].district;
                    var store = data[0].store_location;
                    var rdcode = data[0].rD_CODE;
                    $("#district").val(district);
                    $("#area").val(area);
                    $("#store_location").val(store);
                    $("#RD_CODE").val(rdcode);
                    $("#RD_CODE").trigger('change');

                }
            }
        });
    });

    function alertfirst() {
        //var fileMedic = $('#fileMedic').val();
        //var fileVaksin1 = $('#fileVaksin1').val();
        //var fileVaksin2 = $('#fileVaksin2').val();
        //if (fileVaksin1 == '' && fileVaksin2 == '') {
        //    if (fileMedic != '') {
        //        $('#formcreate').submit();
        //    } else {
        //        alert("Medical Letter must be uploaded");
        //        return false;
        //    }
        //} else {

        //}
        if (confirm("Are you sure saving data?")) {
            $('#formcreate').submit();
        } else {
            return false;
        }

    }
</script>
}
