@model BataAppHR.Models.dbRD

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div>
    <h4>RD Info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>RD Code: </label> @Html.DisplayFor(model => model.RD_CODE)
        </dt>
        <dt>
            <label>Nama RD: </label>@Html.DisplayFor(model => model.NM_RD)
        </dt>
        <dt>
            <label>Email: </label>@Html.DisplayFor(model => model.RD_EMAIL)
        </dt>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Back to list</a>
    </form>
</div>