@model BataAppHR.Models.dbPaymentList

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div>
    <h4>Tab Info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Payment Date: </label> @Html.DisplayFor(model => model.PAYMENT_DATE)
        </dt>
        <dt>
            <label>order: </label>@Html.DisplayFor(model => model.id_order)
        </dt>
        <dt>
            <label>ref: </label>@Html.DisplayFor(model => model.REF_ID)
        </dt>

    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Back to list</a>
    </form>
</div>