@model BataAppHR.Models.SystemMenuModel

@{
    ViewData["Title"] = "Input Data Baru";
}
<style>
    input.largerCheckbox {
        width: 20px;
        height: 20px;
    }
</style>
<h1>Input Data Baru</h1>
<h3 class="display-5">Form Entry</h3>
<hr />
<form asp-action="Create" id="formcreate" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label class="control-label">Parent Tab:</label>
                    <br />
                    @*<input asp-for="EDP_CODE" class="form-control" onkeypress="return allowOnlyNumber(event);" />*@
                    @Html.DropDownListFor(m => m.TAB_ID, new SelectList(Model.ddTab, "ID", "TAB_DESC"), new { @class = "form-control" })
                    <span asp-validation-for="TAB_ID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Menu Description:</label>
                    <input asp-for="MENU_DESC" class="form-control" />
                    <span asp-validation-for="MENU_DESC" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Tab Display Text:</label>
                    <input asp-for="MENU_TXT" class="form-control" />
                    <span asp-validation-for="MENU_TXT" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Link: </label>
                    <input asp-for="MENU_LINK" class="form-control" />
                    <span asp-validation-for="MENU_LINK" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="button" value="Simpan data baru" onclick="alertfirst()" class="btn btn-red" />
                </div>
            </div>
        </div>
    </div>
</form>


<div>
    <a asp-action="Index" class="btn btn-dark">Kembali ke List</a>
</div>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>

    function allowOnlyNumber(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
        }
    function alertfirst() {

        if (confirm("Are you sure saving data?")) {
            $('#formcreate').submit();
        } else {
            return false;
        }

    }
    </script>
}


